$primary: #42aa01;
$secondary: #d9d9d9;
$dark: #151822;
$navlink-color: #515151;
$body-color: #f8f9fa;
$body-bg: #212529;
$font-family-base: "Montserrat", sans-serif;
:root {
  --font-josefin-sans: "Josefin Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@import "bootstrap";

/* FONTS */

.font-josefin {
  font-family: var(--font-josefin-sans);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

/* LAYOUT */

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  width: 100%;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.hero-wrapper {
  background-image: url("/img/hero-bg.png");
  background-color: #151822;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 800px;
  min-height: 800px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.black-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

/* BUTTONS */

.btn {
  padding: 13px 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: $body-color;
  font-family: var(--font-montserrat);
}
.btn:hover {
  color: $body-color;
}
/* NAVIGATION */

.nav-item {
  .nav-link {
    color: $navlink-color;
    border: unset !important;
  }
  .nav-link:hover {
    color: $body-color;
  }
  .active {
    color: $body-color;
    border-bottom: 2px solid $primary !important;
  }
}

.navbar {
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 5;
}

/* ADD TO FAVOURITES */

.favourite-wrapper {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 10;
  background: none;
  border: none;
}
.favourite-wrapper:hover {
  background: none;
}
.favourite-heart-active {
  color: #e35959;
}
.favourite-wrapper:hover > .favourite-heart {
  color: #e35959;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.favourite-heart:focus {
  background: none;
}

.favourite-heart {
  color: #f8f9fa;
}

.favourite-button {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  vertical-align: middle;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

/* PAGINATION */
.pagination {
  .active {
    .page-link {
      background-color: $primary;
      color: $secondary;
    }
  }
  .page-link {
    border-radius: 4px !important;
    border: none;
    background-color: $secondary;
    color: $navlink-color;
  }
  .pagination-arrow {
    .page-link {
      background: none;
      color: $secondary;
    }
  }
}

/* CHARACTER CARD */
.status-pill {
  padding: 0.1rem 1rem;
  font-size: 14px;
  border: 2px solid !important;
  border-radius: 0.5rem;
}
.status-alive {
  border-color: $primary !important;
  color: $primary !important;
}
.status-dead {
  border-color: #e35959 !important;
  color: #e35959 !important;
}
.status-unknown {
  border-color: #d9d9d9;
  color: #d9d9d9;
}
